body {
  background-color: #232323;
}
span {
  color:white;
}
.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float:left;
  margin: 1.66%;
}

h1, h3 {
  color: white;
  margin: auto;
}
.container {
  margin: 0 auto;
  max-width: 600px;
}
