<!DOCTYPE html>
<html>
<head>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class = "container">
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        <br>
        <a href="/">Go Back</a>
    </div>

</body>
</html>
