<!DOCTYPE html>
<html>
<head>
    <title>Add a New Campground</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" >
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
 <h1 style="text-align: center">Submit a New Campground</h1>
<div class="container">
<div style="width: 30%; margin: 25px auto;">
<form action="/campgrounds" method = "post">
        <input class="form-control" type="text" name="name" placeholder="name">
        <input class="form-control" type="text" name="image" placeholder="image url">

    <button>submit!</button>
</form>
</div>
</body>
</html>
